@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700;900&family=Montserrat:wght@400;700;800&family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BJCree:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+MX+Guides&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --verde-principal: #1a5c2a;
    --verde-escuro: #1a5c2a;
    --verde-claro-legenda: #eaf3de;
    --cinza-texto: #6b7280;
    --cinza-input: #f9fafb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.form-side {
    width: 50%;
    flex: 0 0 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6% 40px;
    overflow-y: auto;
}

.form-box {
    width: 100%;
    max-width: 420px;
}

.box-cadastro {
    display: none;
    background-color: antiquewhite;
    border: 2px solid #1a5c2a;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    position: relative;
    right: 40px;
    box-shadow: 0px 0px 10px #303030;
    justify-content: center;
    align-items: center;
}

.form-box h2 {
    color: var(--verde-escuro);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
}

.subtitle {
    color: var(--cinza-texto);
    font-size: 16px;
    margin-bottom: 15px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.logo img {
    width: 200px;
}

.logo-img {
    width: 120px;
    height: auto;
}

.input-group {
    margin-bottom: 12px;
}

.input-group label {
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    margin-bottom: 8px;
}

.input-group select {
    padding: 8px 20px;
    border: 1px solid #bbbbbb;
    border-radius: 6px;
    font-size: 14px;
    background-color: #fafaf8;
    font-family: "Open Sans", sans-serif;
}

input {
    width: 100%;
    padding: 14px;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    background-color: var(--cinza-input);
    font-size: 14px;
    transition: 0.3s;
}

input:focus {
    border-color: var(--verde-principal);
    outline: none;
    box-shadow: 0 0 0 5px rgba(26, 92, 61, 0.1);
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-wrapper .toggle-password {
    position: absolute;
    right: 15px;
    color: var(--cinza-texto);
    cursor: pointer;
    font-size: 18px;
}

.btn-primary {
    width: 100%;
    padding: 12px;
    background-color: var(--verde-principal);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    transition: 0.3s;
}

.btn-primary:hover {
    transform: scale(1);
    box-shadow: 0px 6px 12px rgba(32, 86, 24, 0.902);
}

.btn-primary:active {
    transform: scale(0.98);
    box-shadow: 0px 6px 12px rgba(32, 86, 24, 0.902);
}

.validacao {
    color: red;
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: 15px;
}

.signup-text {
    margin-top: 25px;
    text-align: center;
    color: var(--cinza-texto);
    font-size: 14px;
}

.signup-text a {
    color: var(--verde-principal);
    text-decoration: none;
    font-weight: 700;
}

.form-side::-webkit-scrollbar {
    display: none;
}

.banner-side {
    flex: 0 0 50%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8)), 
    url('../css/img/fundo.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    padding: 8% 10%;
    border-radius: 10px;
    box-shadow: -8px 8px 10px #323131e6;
    height: 717px;
    margin-top: 8px;
    right: 8px;
}

.banner-content h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 20px;
}

.banner-content p {
    font-size: 18px;
    line-height: 1.6;
    color: var(--verde-claro-legenda);
    max-width: 480px;
}