@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700;900&family=Montserrat:wght@400;700;800&family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2c592c;
  font-family: 'Mostserrat', sans-serif;
  color: #ffffff;
  height: 100vh;
  overflow: hidden;
}

/* Layout principal  */
.janela {
  display: flex;
  height: 100vh;
}

/*  Sidebar */
.sidebar {

  position: relative;
  top: 40px;
  left: 20px;
  border-radius: 20px;
  width: 220px;
  min-width: 220px;
  background-color: #173417;
  box-shadow: 4px 4px 10px #081008;
  border-right: 1px solid rgba(255, 255, 255, 0.08);
  display: flex;
  flex-direction: column;
  padding: 2rem 1.2rem;
  gap: 0;
  height: 650px;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.8rem;
  color: #f3f3f3;
  margin-bottom: 2.5rem;
  font-family: 'Great Vibes', cursive;
}

.sidebar-logo .logo-icone {
  font-size: 1.5rem;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

.sidebar-link {
  display: block;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  color: rgba(240, 244, 240, 0.7);
  text-decoration: none;
  font-size: 1.2rem;
  transition: background 0.2s, color 0.2s;
  background-color: #4b824c;
  font-weight: 600;
  box-shadow: 0px 4px 5px #031804;

}

.sidebar-link:hover {
  background-color: rgba(255, 255, 255, 0.08);
  color: #ffffff;
}


.sidebar-especial:hover {
  background-color: rgba(118, 199, 119, 0.12);
  color: #e6ede6;
}

.sidebar-sair {
  display: block;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  font-size: 1.5rem;
  transition: background 0.2s, color 0.2s;
  margin-top: auto;
}

.sidebar-sair:hover {
  background-color: rgba(255, 80, 80, 0.12);
  color: #ff8a80;
}

/* Conteúdo principal */
.dashboard-main {
  flex: 1;
  overflow-y: auto;
  padding: 2.5rem 2rem 4rem;
  align-items: center;
}

/*  div do titulo  */
.posicao_nome {

  background-color: white;
  position: relative;
  left: 20px;
  width: 800px;
  border-radius: 20px;
  margin-left: 20px;
  box-shadow: 4px 4px 10px #081008;

}

/*  Título  */
.dashboard-titulo {

  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #052c06;
  margin-left: 50px;

}

/* KPIs */
.kpis {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
  flex-wrap: wrap;
  width: 80%;
  position: relative;
  left: 100px;
  gap: 200px;

}

.kpi-card {
  flex: 1;
  min-width: 220px;
  background-color: rgba(255, 255, 255, 0.07);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 14px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 6px;
  box-shadow: 4px 4px 10px #081008;
}

.kpi-label {
  font-size: 1rem;
  color: rgba(247, 247, 247, 0.733);
}

.kpi-valor {
  font-size: 2.8rem;
  font-weight: 800;
  color: #76c777;
  line-height: 1.1;
}

.kpi-sub {
  font-size: 1rem;
  color:  rgba(247, 247, 247, 0.733);
}

/* Gráfico */
.grafico-section {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 14px;
  padding: 1.5rem;
  width: 60%;
  position: relative;
  left: 20px;
  box-shadow: 4px 4px 10px #081008;
}


/* Gráfico de pizza */
.grafico-section-pizza {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 14px;
  padding: 1.5rem;
  width: 30%;
  position: relative;
  left: 20px;
  box-shadow: 4px 4px 10px #081008;
}

.separa {
    display: flex;
    align-items: center;
    gap: 2rem;
}


.grafico-section h2 {
  font-size: 1rem;
  font-weight: 600;
  color: #c8e6c9;
  margin-bottom: 1.2rem;
}

.grafico-container {
  position: relative;
  height: 320px;
  width: 100%;
}
