@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --verde-principal: #2d6a2d;
    --verde-escuro: #245424;
    --cinza-texto: #666666;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.main-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.banner-side {
    position: relative;
    width: 50%;
    flex: 0 0 50%;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)), 
    url('img/umbanda.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end; 
    padding: 8% 10%;
    color: white;
    border-radius: 10px;
    box-shadow: 8px -8px 10px #323131e6;
    height: 717px;
    margin-top: 8px;
    left: 8px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 25px;
}

.logo img {
    width: 200px;
}

.logo-img {
    width: 300px; 
    height: auto;
    filter: drop-shadow(0px 4px 10px rgba(0,0,0,0.3));
}

.banner-content h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 800;
    color: white;
    margin-bottom: 15px;
    line-height: 1.2;
}

.banner-content p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 450px;
}

.banner-content .legenda-verde {
    font-size: 20px;
    line-height: 1.5;
    color: #70b970;
    max-width: 450px;
}

.form-side {
    width: 50%;
    flex: 0 0 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.form-box {
    width: 100%;
    max-width: 400px;
}

.form-box h2 {
    color: var(--verde-escuro);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

.input-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 15px;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    background-color: #f9fafb;
    font-size: 16px;
}

.btn-login {
    width: 100%;
    padding: 16px;
    background-color: var(--verde-principal);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-login:hover {

    transform: scale(1);
    box-shadow: 0px 6px 12px rgba(32, 86, 24, 0.902);

}

.btn-login:active{
    
    transform: scale(0.98);
    box-shadow: 0px 6px 12px rgba(32, 86, 24, 0.902);

}

.signup-text {
    margin-top: 20px;
    text-align: center;
    color: var(--cinza-texto);
    font-size: 14px;
}

.signup-text a {
    color: var(--verde-principal);
    text-decoration: none;
    font-weight: 700;
}